<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr th:each="person: ${people}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.email}"></td>
            <td th:text="${person.phone}"></td>
        </tr>
    </table>
</body>
</html>